/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-fnugg {
	.hint{
		display: flex;
		.location{
			font-weight: 400;
			margin-right: 10px;
		}
	}
 }
